// Partials
@import 'shared/partials/variables';
@import 'shared/partials/mixins';
@import 'shared/partials/utilities';

// Layout
@import 'shared/layout/header/header';
@import 'shared/layout/footer/footer';

// Pages
    //Home
    @import 'pages/home/home';

        // Sections
        @import 'pages/home/sections/mobile-blog-slider';
        @import 'pages/home/sections/partners';



// Commons
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $dark;
}

button {
    border: 0;
    border-radius: 0;
}

a {
    text-decoration: none;
}


